:root {
    --primary: #780086;
    --secondary: #121212;
    --tertiary: #212121;
    --quaternary: #333333;
    --quinary: #444444;
    --senary: #555555;
    --septenary: #666666;
    --octonary: #777777;
}