.serverInfoContent {
  display: flex;
  height: 100%;
  overflow: auto;
}

.conference {
  flex-grow: 1; /* Конференция занимает оставшееся пространство */
  background-color: #2f3136;
  overflow: hidden;
  border-radius: 20px;
  height: 100%;
  position: relative;
}

.chat {
  background-color: #2f3136;
  overflow: hidden;
  border-radius: 20px;
  flex-shrink: 0;
}

/* Стиль полосы для перетаскивания */
.resizer {
  width: 10px;
  cursor: ew-resize;
  background-color: transparent;
}
