// Input.module.scss
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
}
 
.input:focus ~ .suffixIcon {
  display: none;
}

.input:focus.withSuffix {
  padding-right: 16px;
}

.input {
  display: block;
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  border: 1.2px solid #FFFFFF;
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  color: white;

  &:focus {
    border-color: color-mix(in srgb, var(--primary), white 50%);
    box-shadow: 0 0 4px color-mix(in srgb, var(--primary), white 50%);
    outline: none;
  }

  &:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
}

.withPrefix {
  padding-left: 40px; // Increased padding left if prefix exists
}

.withSuffix {
  padding-right: 40px; // Increased padding right if suffix exists
}

.prefixIcon, .suffixIcon {
  position: absolute;
  display: flex;
  align-items: center;
  width: 20px;
  aspect-ratio: 1/1;
  overflow: hidden;
  color: black;
}

.prefixIcon {
  left: 10px; // Left offset
}

.suffixIcon {
  right: 10px; // Right offset
}

@media (hover: hover) {
  .input:hover {
    border-color: color-mix(in srgb, var(--primary), white 50%);
  }
}
