.createHubButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #686868;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.createHubButton:hover {
    background-color: #787878;
    transform: scale(1.02);
}

.createHubButton:active {
    transform: scale(0.98);
}