.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

.carousel__inner {
    display: flex;
    width: 100%;
    // aspect-ratio: 4/2.8;
    transition: transform 0.3s ease-in-out;
    background-color: #2A2A2A;

    // & img {
    //     object-fit: cover;
    // }

}

.carousel__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary);
    color: white;
    border-radius: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-out;

    &:active {
        transform: translateY(-50%) scale(0.9);
    }

    &.carousel__button_disabled {
        background-color: #FAFAFA;
        color: black;
    }

    &.carousel__button_left {
        left: 20px;
    }

    &.carousel__button_right {
        right: 20px;
    }
}

